# House Price Prediction Project (Dự đoán giá nhà)
### 1.Problem definition( Định nghĩa vấn đề ) : 
- Goal : predict the sales price for each house

In [79]:
#Import libraries :
import pandas as pd
import numpy as np

In [80]:
data = pd.read_csv('./data/train.csv')

In [81]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [82]:
data = pd.read_csv('./data/train.csv', index_col = 'Id')

In [83]:
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### 2. Feature Selection ( Lựa chọn những đặc trưng ) :
    Choose features to train ML model ( need to use 'Feature Engineering' to identify features needed)

In [84]:
data.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [85]:
features = ['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd']

### 3.Spliting the datesets : 
- 'data' : dataset
- 'X' : 'data[features]'
- 'y' : target variable : 'SalePrice'

In [86]:
X = data[features]
y = data['SalePrice']
print(X.head())
y.head()

    LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
Id
1      8450       2003       856       854         2             3
2      9600       1976      1262         0         2             3
3     11250       2001       920       866         2             3
4      9550       1915       961       756         1             3
5     14260       2000      1145      1053         2             4

    TotRmsAbvGrd
Id
1              8
2              6
3              6
4              7
5              9

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

###  X,y --> X_train, y_train ; X_valid, y_valid

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train,  y_valid = train_test_split(X,y,train_size=0.8,test_size=0.2,random_state=0)

In [88]:
data.shape

(1460, 80)

In [89]:
#use 80% of the data(1460 rows) to train model = 1168 rows
X_train.shape

(1168, 7)

In [90]:
#use 20% of the last data to test model = 292 rows
X_valid.shape

(292, 7)

In [91]:
#The same way with y_train & y_valid
print(y_train.shape)
print(y_valid.shape)

(1168,)
(292,)

### 4. Training Machine Learning Model

In [92]:
#Tree module
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor(random_state=1)

In [93]:
#Fit training data into model 
dt_model.fit(X_train,y_train)

DecisionTreeRegressor(random_state=1)

# Predict the Housing price when insert the X_valid to model

In [94]:
y_pre = dt_model.predict(X_valid.head())
y_pre

array([335000., 140200., 119000., 207500., 112000.])

In [95]:
pd.DataFrame({'Price': y_valid.head() , 'Price Predicted' : y_pre })

      Price  Price Predicted
Id
530  200624         335000.0
492  133000         140200.0
460  110000         119000.0
280  192000         207500.0
656   88000         112000.0

In [96]:
#Randomforest in ensemble module
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
rand_f = RandomForestRegressor(random_state=1)
rand_f.fit(X_train,y_train)

RandomForestRegressor(random_state=1)

In [97]:
randf_val_pre = rand_f.predict(X_valid.head())
randf_val_pre

array([271690., 155039., 122024., 188915.,  91147.])

In [98]:
pd.DataFrame({'Price': y_valid.head() , 'Price Predicted' : randf_val_pre })

      Price  Price Predicted
Id
530  200624         271690.0
492  133000         155039.0
460  110000         122024.0
280  192000         188915.0
656   88000          91147.0